.clear{
	content: "";
	display: block;
	clear: both;
}
div,ul,li,i,span,a,p{
	margin:0;
	padding:0;
}
.all{
	width: 1920px;
	height: 3524px;
}
.center{
	width: 1363px;
	height: 3071px;
	position: relative;
	left: 0px;
	right: 0px;
	top: 0px;
	bottom: 0px;
	margin: 0 auto;
	font-family: "微软雅黑";
	
}
.center_0{
	width: 1920px;
	height: 85px;
	background: url(img/jituan_img.png) no-repeat;
}
.center_1_m{
	float: left;
	margin-left: 72px;
	margin-top: 36px;
}
.center_1_div{
	float: left;
	width: 934px;
	height: 430px;
}
.center_1_sp1{
	float: left;
	font-size: 16px;
	color: #747272;
	margin-top:45px;
	margin-left: 494px;
}
.center_1_sp2{
	float: left;
	font-size: 24px;
	color: #3e3a39;
	margin-top:36px;
	border-left: 3px #e6001e solid;
	padding-left: 5px;
	margin-left: 5px;
}
.center_1_i1{
	float: left;
	width: 16px;
	height: 14px;
	margin-top: 118px;
	margin-left: -803px;
	background: url(img/yinhao1.png) no-repeat;
}
.center_1_p1{
	float: left;
	font-size: 20px;
	color: #a0a0a1;
	margin-top: 78px;
	margin-left: 23px;
}
.center_1_p2{
	float: left;
	font-size: 14px;
	color: #9b9b9b;
	width: 803px;
	margin-left: 113px;
}
.A,.A0{
	float: left;
	width: 75px;
	height: 21px;
	text-decoration: none;
	color: #9b9b9b;
	font-size: 12px;
	margin-left: 113px;
	margin-top: 37px;
	padding-top: 3px;
	padding-left:13px;
	background: url(img/yewu_but5.png) no-repeat;
}
.center_1_i2{
	float: left;
	width: 16px;
	height: 14px;
	margin-left: 919px;
	margin-top: 6px;
	background: url(img/yinhao2.png) no-repeat;

}
.center_2_p1,.center_2_p2{
	float: left;
	font-size: 14px;
	color: #9b9b9b;
	width: 522px;
}
.center_2_p1{
	margin-top: 135px;
    margin-left: -198px;
}
.center_2_p2{
	margin-top: 194px;
	margin-left: -523px;
	/*margin-top: 190px;
    margin-left: -268px;*/
}
.center_2_sp1{
	float: left;
	font-size: 24px;
	color: #3e3a39;
	border-left: 3px #e6001e solid;
	padding-left: 5px;
	margin-top: 20px;
}
.center_2_sp2{
	float: left;
	font-size: 16px;
	color: #747272;
	margin-top: 29px;
    margin-left: 9px
}
.center_2_i1{
	float: left;
	width: 16px;
	height: 14px;
	margin-top: 77px;
    margin-left: -211px;
	background: url(img/yinhao1.png) no-repeat;
}
.center_2_i2{
	float: left;
	width: 16px;
	height: 14px;
	margin-left: 55px;
	margin-top:347px;
	background: url(img/yinhao2.png) no-repeat;

}
.center_2_m{
	float: left;
	width: 506px;
	height: 366px;
	overflow: hidden;
	margin-left: 72px;
}
.center_2{
	width: 1363px;
	height: 369px;
	margin-top: 72px;
	background: #ececec;
}
.center_2_div{
	float: left;
	width: 611px;
	height: 430px;
	margin-left: 72px;
}
.A0{
	margin-left: -522px;
    margin-top: 276px;
}
.center_3_m{
	float: left;
	margin-left: 72px;
	margin-top: 55px;
	width: 621px;
	overflow: hidden;
}
.center_3_div1{
	float: left;
	width: 253px;
	height: 37px;
	margin-left: 347px;
	margin-top: 46px;
}
.center_3_div2{
	float: left;
	width: 723px;
	height: 216px;
	background: #ececec;
	margin-left: 641px;
	margin-top: -216px;
}
.center_3_sp1{
	float: left;
	font-size: 16px;
	color: #747272;
	margin-top:9px;
}
.center_3_sp2{
	float: left;
	font-size: 24px;
	color: #3e3a39;
	border-left: 3px #e6001e solid;
	padding-left: 5px;
	margin-left: 5px;
}
.center_3_u{
	list-style: none;
	width: 361px;
	height: 175px;
	margin-left: 133px;
	margin-top: 20px;
}
.center_3_u li{
	font-size: 14px;
	color: #9b9b9b;
	height:25px;
	line-height: 25px;
}
.center_4_i1{
	float: left;
	width: 16px;
	height: 14px;
	margin-top: -28px;
    margin-left: 72px;
	background: url(img/yinhao1.png) no-repeat;
}
.center_4_i2{
	float: left;
	width: 16px;
	height: 14px;
	margin-left: 1265px;
	background: url(img/yinhao2.png) no-repeat;

}
.center_4_u{
	list-style: none;
	margin-left: 88px;
	font-size: 14px;
	color: #9b9b9b;
	margin-top: 58px;
}
.center_5_m{
	float: left;
	margin-left: 87px;
	margin-top: -376px;
	width: 381px;
	overflow: hidden;
}
.center_5_div1{
	float: left;
	width: 314px;
	height: 37px;
	margin-left: 1028px;
	margin-top:-372px;
}
.center_5_div2
{
	float: left;
	width: 1362px;
	height: 290px;
	margin-top: 199px; 
	background: url(img/jituan_img4.png) no-repeat;
}
.center_5_u{
	list-style: none;
	margin-left: 533px;
	font-size: 14px;
	color: #6a6969;
	margin-top: 84px;
}
.center_6_div1{
	margin-left: 72px;
	margin-top: 67px;
}
.center_6_sp1{
	float: left;
	font-size: 24px;
	color: #3e3a39;
	border-left: 3px #e6001e solid;
	padding-left: 5px;
	margin-left: 5px
	
}
.center_6_sp2{
	float: left;
	font-size: 16px;
	color: #747272;
	margin-top:9px;
	margin-left: 9px;
}
.center_6_div2{
	width: 821px;
	height: 271px;
	margin-top: -279px;
	margin-left: 389px;
	background: url(img/jituan_img6.png) no-repeat;
}
.center_6_m2{
	margin-left: 72px;
	margin-top: 105px;
}