.clear:after{
	content: "";
	display: block;
	clear: both;
}
.top{
	width: 1920px;
	height: 201px;
	background: url(img/top_bj.png) no-repeat;
}
.top_l{
	float: left;
	width: 194px;
	height: 47px;
	margin-left: 279px;
	margin-top: 40px;
	background: url(img/qszb.png) no-repeat;
}
.top_r{
	float: left;
}
.top_u1{
	width: 642px;
	height: 40px;
	list-style: none;
	margin-left: 470px;
}
.top_u1 li a{
	float: left;
	width: 107px;
	margin-top: 20px;
	text-align: center;
	font-size: 18px;
	color: #5d5958;
	font-family: "微软雅黑";
	text-decoration: none;
	border-bottom:2px #706a68 solid;
}
.top_u1 li a:hover{
	border-bottom:2px #c90714 solid; 
}
.top_b{
	float: left;
	width: 136px;
	height: 61px;
	font-size: 14px;
	font-family: "微软雅黑";
	color:#fff;
	margin-top:161px; 
	margin-left: -1307px;
}
.top_b_i{
	display: inline-block;
	width: 8px;
	height: 9px;
	background: url(img/button2.png) no-repeat;
}